body{
  background-color: #f5f5f5;
}
.navbar-brand {
  font-weight: bold;
}
#brandAboveContainer {
   width: 100%;
   text-align: center;
   margin-bottom: 20px;
}
#brandAbove {
   font-weight: 700;
   font-size: 4em;
   color: #003366;
   margin: auto 0;
   text-decoration: none !important;
}
.navbar-brand {
   font-weight: 700;
   font-size: 3.5em;
   color: #003366;
   text-decoration: none !important;
   width: 120px;
}
.navbarContainer {
   background: #003366;
   padding: 0px 50px;
}
.nav-link {
   text-decoration: none;
   font-size: 1em;
   font-weight: 400;
   margin: 1.2em;
}
a.nav-link.white:hover, a.nav-link.gray:hover{
  color: #FFA726;
}
a.nav-link.white{
    color: white !important ;
    transition: 0.5s ease;
}
a.nav-link.gray { 
  color: gray ;
  transition: 0.5s ease;

}

 .navbar-toggler-icon {         background-color: rgb(255, 255, 255);     color: white; }
 
